xml/ADMA_UDP-DataStream_ADMAnet_v3.2_v30.2.0.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="MessageFormatDefinition">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="FormatHeader">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="GeneSysID" type="xs:string" />
              <xs:element name="DynamicHeaderVersion" type="xs:string" />
              <xs:element name="FormatID" type="xs:unsignedInt" />
              <xs:element name="FormatVersion" type="xs:string" />
              <xs:element name="FormatName" type="xs:string" />
              <xs:element name="HeaderSize" type="xs:unsignedByte" />
              <xs:element name="DataSize" type="xs:unsignedShort" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="MeasurementData">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Package">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Description" type="xs:string" />
                    <xs:element maxOccurs="unbounded" name="Channel">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Description" type="xs:string" />
                          <xs:element name="Scale" type="xs:decimal" />
                          <xs:element name="Unit" type="xs:string" />
                          <xs:element name="DataType" type="xs:string" />
                          <xs:element name="Min" type="xs:decimal" />
                          <xs:element name="Max" type="xs:decimal" />
                          <xs:element name="ByteOffset" type="xs:unsignedShort" />
                          <xs:element name="BitOffset" type="xs:unsignedByte" />
                          <xs:element name="LengthBits" type="xs:unsignedByte" />
                        </xs:sequence>
                        <xs:attribute name="Name" type="xs:string" use="required" />
                        <xs:attribute name="ChannelID" type="xs:unsignedShort" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="Name" type="xs:string" use="required" />
                  <xs:attribute name="PackageID" type="xs:unsignedShort" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>